<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input v-model="name" type="text" placeholder="输入姓名">
        <input v-model="age" type="text" placeholder="输入年龄">
        <p>姓名: {{name}}</p>
        <p>年龄: {{age}}</p>
    </div>


    <script src="js/vue.js"></script>
    <script>
        let el = document.getElementById("app");
        let data = {
            name: "老王",
            age: 18
        }

        var vm = new Vue({
            el,
            data,
        })
    </script>
</body>

</html>